{
  "env": {
    "browser": true,
    "es6": true
  },

  "globals": {
      "console": true
  },

  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
		"impliedStrict": true,
        "jsx": true,
        "arrowFunctions": true,
        "destructuring": true,
        "classes": true,
        "defaultParams": true,
        "blockBindings": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "restParams": true,
        "spread": true,
        "forOf": true,
        "generators": true,
        "templateStrings": true,
        "superInFunctions": true,
        "experimentalObjectRestSpread": true
      }
   },

  "extends": "eslint:recommended",

  "rules": {
    "no-console": ["warn", { allow: ["warn", "error"] }],
    "quotes": [1, "double"],
    "semi": [1, "always"]
  }
}
